
h1{
    color: #004b8d;
}

h2 {
    margin: 0px 50px;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
    color: #004b8d;
}

hr {
    color: #f68b1f;
}

body {
    background: rgb(0,75,141);
    background: linear-gradient(0deg, rgba(0,75,141,1) 0%, rgba(254,203,157,1) 10%);  
}

.menu {
        list-style-type: none;
        border-style: solid;
        border-width: 1px ;
        border-color: white;
        background-color: cornflowerblue;
        text-align: center;
        width: 150px;
        float: left;
}

a:hover {
    color:black
}

a:visited {
    color: white;
}

ol {
    margin: 0px 0px 200px;
}

.voltar {
    display: block;
    margin: 50px 200px 200px 200px;
}

img {
    background-color: #f68b1f;
    padding: 5px;
    margin: 50px;
}

.index{
    margin-bottom: 300px;
}

.esquerda {
    float: left;
}

.direita{
    float: right;
}
/* 
.intervalo {
    margin: 150px;
} */

.topo {
    display: block;
    margin-top: 220px;
}

p {
    margin: 50px;
}

ul {
    margin-bottom: 200px;
}

table {
    float: 0px;
    border: #004b8d;
    border-width: 10px;
    border-radius: 5px;
    border-style: solid;
}

td, th {
    border: 3px;
    border-style: solid;
}